$font: "Ubuntu", sans-serif;
$font-mono: "Ubuntu Mono", monospace;

@use "bulma/sass/utilities" with (
  $cssvars-prefix: "",
  $family-sans-serif: $font,
  $family-monospace: $font-mono,
);

@use "bulma/sass/base";

@use "bulma/sass/elements/content";
@use "bulma/sass/elements/block";
@use "bulma/sass/elements/box";
@use "bulma/sass/elements/button";
@use "bulma/sass/elements/icon";
@use "bulma/sass/elements/progress";
@use "bulma/sass/elements/table" with (
  $table-background-color: "transparent",
);
@use "bulma/sass/elements/title";

@use "bulma/sass/layout/section";

@use "bulma/sass/grid/columns";

@use "bulma/sass/components/card";
@use "bulma/sass/components/dropdown";
@use "bulma/sass/components/menu";
@use "bulma/sass/components/message";
@use "bulma/sass/components/modal";
@use "bulma/sass/components/navbar";
@use "bulma/sass/components/panel";
@use "bulma/sass/components/tabs";

@use "bulma/sass/form";

@use "bulma/sass/helpers/flexbox";
@use "bulma/sass/helpers/spacing";
@use "bulma/sass/helpers/visibility";
@use "bulma/sass/helpers/typography";

@use "bulma/sass/themes";


@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Light'), local('Ubuntu-Light'),
        url('@/fonts/Ubuntu-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'),
        url('@/fonts/Ubuntu-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Italic'), local('Ubuntu-Italic'),
        url('@/fonts/Ubuntu-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
        url('@/fonts/Ubuntu-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'),
        url('@/fonts/Ubuntu-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'),
        url('@/fonts/Ubuntu-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
        url('@/fonts/Ubuntu-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
        url('@/fonts/Ubuntu-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: "Ubuntu Mono";
  src: local('Ubuntu Mono'), local('Ubuntu-Mono'),
  url('@/fonts/UbuntuMono-Regular.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu Mono";
  src: local('Ubuntu Mono Bold'), local('Ubuntu-Mono-Bold'),
  url('@/fonts/UbuntuMono-Bold.woff2') format('woff2');

  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu Mono";
  src: local('Ubuntu Mono Bold Italic'), local('Ubuntu-Mono-Bold-Italic'),
  url('@/fonts/UbuntuMono-BoldItalic.woff2') format('woff2');

  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
    font-family: "Ubuntu Mono";
    src: local('Ubuntu Mono Italic'), local('Ubuntu-Mono-Italic'),
         url('@/fonts/UbuntuMono-Italic.woff2') format('woff2');

    font-weight: normal;
    font-style: italic;
    font-display: swap;
}



li.dropdown-item {
  @extend a, .dropdown-item;
}

li.dropdown-item.is-active {
  @extend .is-active
}

$checkbox-size: 1.00rem;

.checkbox {
  position: relative;
  display: inline-flex;
  user-select: none;
  width: $checkbox-size;
  height: $checkbox-size;
}

.checkbox-input {
  cursor: pointer;
  appearance: none;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: 1;
  outline: 0 none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.checkbox-box {
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--border);
  background: var(--background);
  width: $checkbox-size;
  height: $checkbox-size;
  transition: background .2s, color .2s, border-color .2s, box-shadow .2s, outline-color .2s;
  outline-color: transparent;
  box-shadow: 0 0 #000,0 0 #000,0 1px 2px 0 rgba(18,18,23,0.05);

}